html {
    box-sizing: border-box;
  }
*, *::before, *::after {
    box-sizing: inherit;
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  color: #222;
  font-size: 18px;
}

.wrapper {
  max-width: 2580px;
}